<header>
    <% if(locals.user){%>
        <div id="login_header">
        <a href="/"><img src="/images/logo.jpg" id="header_logo"></a>
        <input id="search" type="search" name="search" placeholder="Search">
        <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/user/answer">ANSWER</a></li>
        <li><a href="#">ADD QUESTION</a></li>
        <li><a href="#">BLOG</a></li>
        <li class="no_hover"> 
            <div class="header_dropdown"> 
                <div class ="user_icon">
                   <img src="<%=user.avatar%>" onerror=this.src="/images/user.png" >
                </div>
                <div id="user_option" class="dropdown-content">
                    <a href="/profile/user/<%=locals.user.id%>" id="profile"> Profile</a>
                    <a>Messages</a>
                    <a>Settings</a>
                    <a href="/user/sign-out"><b>Sign out</b></a>
                </div>
            </div>
        </li>
    
        <%}else{%>
            <div id="logout_header">
            <a href="/"><img src="/images/logo.jpg" id="header_logo"></a>
            <a href="#"><p>Why GuruShishya?</p></a>
            <a href="#"><p>Explore</p></a>
            <a href="#"><p>Blogs</p></a>
            <input id="search" type="search" name="search" placeholder="Search">
            <a href="/user/sign-in" id="_signin">Sign In </a>
            <a href="/user/sign-up" id="_signup">Sign Up</a>
            <!-- <a href="/user/sign-in" ></a><button id="signin">Sign In</button></a>
            <a href="/user/sign-up"><button id ="signup">Sign Up</button></a> -->
            </div>
            <%}%>
</header>
