<div id="feed">
  <div id="feed_header">
    <span><i class="fas fa-newspaper"></i></span>
    <span>Feed</span>
  </div>
  <div id="feed_lists">
    <a><div id="subject"><img src="/images/physics.png" ><p>Physics</p></div></a>
    <a><div id="subject"><img src="/images/chemistry.jpg"><p>Chemistry</p></div></a>
    <a><div id="subject"><img src="/images/biology.jpg"><p>Biology</p></div></a>
    <a><div id="subject"><img src="/images/history.jpg"><p>History</p></div></a>
    <a><div id="subject"><img src="/images/computer.jpg"><p>Computer</p></div></a>
    

</div>
</div>

<!-- <div id="Feed">
     <div class="card">
         <img src="<%=assetPath('images/logo.jpg')%>" class="card-img-top" alt="...">
         <div class="card-body">
           <a href=""><h5 class="card-title">Share Your Journey</h5></a>
           <p class="card-text">Sharing your journey with us is the best way to inspire and motivate our community. You can also add images, videos, text, etc. to give a good visualization of your journey to success. </p>
         </div>
      </div>
   
 
</div> -->