<div id="Feed">
     <div class="card">
         <img src="<%=assetPath('images/logo.jpg')%>" class="card-img-top" alt="...">
         <div class="card-body">
           <a href=""><h5 class="card-title">Share Your Journey</h5></a>
           <p class="card-text">Sharing your journey with us is the best way to inspire and motivate our community. You can also add images, videos, text, etc. to give a good visualization of your journey to success. </p>
         </div>
      </div>
   
 
</div>