<html>
    <head>
        <title><%=title%></title>
    </head>

    <body>
        <%-include('_header');%>
        <h2>This is the Home Page</h2>
        <%-include('_footer');%>
    </body>
</html>