<link rel="stylesheet" type="text/css" href="/css/profile.css">
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<main>
<h2>This is a profile page</h2>
<h1>Hiii <%=user.name%></h1>
<a href="/user/sign-out">Sign out</a>
<form>
<div id="edit"><textarea name="text" cols="4">Enter Your text Here</textarea></div>
<script type="text/javascript">
    CKEDITOR.replace( 'text',{height: 400 ,width:400});
    
  </script>
<input type="submit" value="Submit"/>
</form>
</main>