<link rel="stylesheet" type="text/css" href="/css/profile.css">
<h2>This is a profile page</h2>
<h1>My Email Id is : <%=name%></h1>
<a href="/user/sign-out"><button id="btn" type="submit">Logout</button></a>