#answer_container_list{
    background-color: #F1F2F2;
    display: flex;
    min-height:100vh;
    height: auto;

    #left_aside{
        width:60%;
        height:auto;
        padding-left: 80px;
        padding-top: 40px;
        // border:1px solid grey;
        margin-right: 30px;

        #question_container{
            h3{
                font-size: 1.5rem;
            }
        }
        
        #editor{
            display: block;
            text-align: right;
            border:1px solid white;
            margin-bottom: 5px;
            border-radius: 3px;
            padding-top: 5px;
            padding-left: 5px;
           //  padding-right: 5px;
         
            

       #editor_submit{
           margin-top: 10px;
           padding: 5px;
           background-color:#30C553;
           color:white;
           width:90px;
           border-radius: 3px;
           border: none;
           cursor: pointer;
           font-size: 1rem;
           font-weight: 600;
       }
       #editor_cancel{
           margin-top: 10px;
           margin-right: 15px;
           padding: 8px;
           background-color:#5B5EA6;
           color:white;
           width:90px;
           border-radius: 3px;
           border: none;
           cursor: pointer;
           font-size: 1rem;
           font-weight: 600;
       }
       a{
           text-decoration: none;
        //    cursor: pointer;
           font-family: sans-serif;
       }

       #text{
           font-size: 1rem;
       }
   }

        
        #interact{
            height: 30px;
            // border-bottom:1px solid black;
            // padding-bottom: 20px;
            // padding: 10px;
            padding-top: 0;
            box-sizing: border-box;

            #checked{
                // cursor: text;
                i{
                    color: green;
                }
            }

            a:hover{
                // background-color: rgb(255, 255, 255);
                color: black;
                cursor: pointer;
                transition: 0.2s all;
            }

            .margin{
                margin-right: 20px;
                color:grey;
                border-radius: 20px;

                i{
                    color:#5B5EA6;
                }
                
                span{
                    margin-right: 5px;
                }
            }
        }

        #ans_count{
            margin-top: 15px;
            font-size: 1.1rem;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding:8px 0px;
            margin-bottom: 25px;
        }
        #answer_container{

            .display{
                display: none !important;
            }
            #comment_section{
                height:auto;
                width:100%;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                background-color:#39304f;
                border-radius: 3px;
                // border:1px solid grey;
                margin-bottom: 10px;
                
                .showLeft{
                    background-color: white !important;
                    // border:1px solid black !important;
                    text-shadow: none !important;
                    color:#fff !important;
                    padding-top: 5px;
                   
                }
            
                .icons li {
                    background: none repeat scroll 0 0 black;
                    height: 4px;
                    width: 4px;
                    line-height: 0;
                    list-style: none outside none;
                    margin-right: 15px;
                    margin-top: 2px;
                    vertical-align: top;
                    border-radius:50%;
                    pointer-events: none;
                }
            
                .btn-left {
                    left: 0.4em;
                }
            
                .btn-right {
                    right: 0;
                }
            
                .btn-left, .btn-right {
                    position: absolute;
                    // top: -20px;
                }
            
                .c_dropbtn {
                    background-color: #4CAF50;
                    position: absolute;
                    color: white;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }
            
                .c_dropbtn:hover, .c_dropbtn:focus {
                    background-color: #3e8e41;
                }
            
                .c_dropdown {
                    position: absolute;
                    display: inline-block;
                    right: 0;
                }
            
                .c_dropdown-content {
                    display: none;
                    position: relative;
                    margin-top: 35px;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
            
                .c_dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            
                .c_dropdown a:hover {background-color: #f1f1f1}
            
                .c_show {display:block !important;}
            

                .comment_card{
                    height:80%;
                    // border:1px solid red;
                    display: flex;
                    border:1px solid grey;
                    flex-direction: column;
                    padding:8px;
                    margin-bottom: -1px;
                    background-color: white;

                    #comment_header{
                        height:30%;
                        display: inline-flex;
                        margin-bottom: 8px;
                        


                        img{
                            height:30px;
                            width:30px;
                            border-radius: 50%;
                            border:1px solid grey;
                            // padding:5px;
                        }
                        div{

                            margin-left: 15px;
                            
                                h2{
                                    margin: 0;
                                    color: black;
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 0.9rem;
                                    margin-bottom: 5px;
                                    font-weight: bold;
                                }

                                h3{
                                    margin: 0;
                                    // color: black;
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 0.7rem;
                                }

                    }
                       
                    }
                
                    #comment_content{
                        height:50%;
                        // border-top:1px solid grey;
                        padding: 5px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.1rem; 
                        margin-bottom: 5px;                       
                    }

                    #comment_interact{
                        height:25%;
                        // border:1px solid red;
                        border-top: 1px solid grey;
                        padding: 3px;
                        position: relative;

                        a{
                            text-decoration: none;
                            margin-right: 8px;
                            color: black;

                            span{
                                margin-left: 5px;
                                margin-right: 5px;
                                font-size: small;
                            }
                        }

                    }

                }

                #comment_option{
                    height:17%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    // border:1px solid cyan;
                    padding-top: 10px;
                  
                    img{
                        height:30px;
                        width: 30px;
                        // margin-left: 10px;
                        // margin-top: 10px;
                        border-radius: 50%;
                    }

                    input{
                        width: 60%;
                        height: 30px;
                        margin-top: 0px;
                        padding:5px;
                        border:0;
                        font-size: 1rem;
                        margin-left: 5px;
                        font-weight: 600;
                        font-family: Arial, Helvetica, sans-serif;
                        color: grey;
                        outline: 0;
                        resize: none;
                        border-radius:10px;
                    }

                    input:focus{
                        font-size: 1rem;
                        font-weight: normal;
                    }

                    a{
                        width: 20%;
                        font-weight: 100px;
                        cursor: pointer;

                        button{
                            padding: 7px;
                            min-width: 100px;
                            width: auto;
                            border-radius: 5px;
                            border: 0;
                            cursor: pointer;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
        }
    }
    #answers{
        // border:1px solid grey;
        margin-bottom: 5px;
        border-radius: 5px;

        

        .c_blue{
            background-color: rgb(0, 102, 255) !important;
            color: white !important;
            border: none;
            padding: 8px;
            font-weight: bold;
            border-radius: 3px;
            margin-left: 10px;
            width: 100px;
            cursor: pointer;
        }

        .c_grey{
            cursor: pointer;
            color:black;
            background-color: grey;
            border: none;
            padding: 8px;
            font-weight: bold;
            border-radius: 3px;
            margin-left: 10px;
            width: 100px;
        }
    }
    #answer_container{
        padding:8px;
        box-sizing: border-box;
        background-color:white;
        // background-color: #DD4124;
        border:1px solid black;
        width: 98%;
        height: auto;
        // overflow: auto;
        border-radius: 3px;
        margin-bottom: 10px;

        
        #question_asked{
            // background-color: white;
            // background-color: #DD4124;
            // border:1px solid black;
            padding:7px;
            min-height:70px;
            height:auto;
             box-sizing: border-box;
             position: relative;
            border-radius: 3px;

            p{
                color:grey;
                font-size: 0.8rem;
                font-family: Arial, Helvetica, sans-serif;
                a{
                    color: black;
                }
            }
            span{
                margin-top:-10px;
                padding:0;
                color: black;
                font-size: 1.3rem;
                font-family: Arial, Helvetica, sans-serif;
            }

            #see_all{
                font-size: 0.8rem;
                text-decoration: underline;
                position: absolute;
                top:20px;
                right:2%;
            }
        }
    }
    
    .topic_answered{
        position:relative;
        height: auto;
        width: 98%;
        background-color: white;
        padding: 5px;
        // overflow: auto;
        // margin-top: 5px;
        border-radius: 3px;
        // display: flex;
       
        // border:1px solid #39304f;

        
        
        #topic_content{
            width:100%;
            height:auto;
            // border:1px solid red;
            display: flex;
            flex-direction: column;

            #author_header{
                height:20%;
                padding-bottom: 5px;
                // border-top:1px solid grey;
                padding-top: 2px;

                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-top: 5px;
                }

                h3{
                    font-size: 0.7rem;
                    font-weight: 700;
                    margin-left: 55px;
                    margin-top: -10px;
                }
                
                span{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 0.95rem;
                    margin-left: 2px;
                    margin-right: 10px;
                    font-weight: 550;
                }
                b{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 0.8rem;
                }

                .showLeft{
                    background-color: white !important;
                    // border:1px solid black !important;
                    text-shadow: none !important;
                    color:#fff !important;
                    padding-top: 5px;
                   
                }

                .icons li {
                    background: none repeat scroll 0 0 black;
                    height: 4px;
                    width: 4px;
                    line-height: 0;
                    list-style: none outside none;
                    margin-right: 15px;
                    margin-top: 2px;
                    vertical-align: top;
                    border-radius:50%;
                    pointer-events: none;
                }

                .btn-left {
                    left: 0.4em;
                }

                .btn-right {
                    right: 0;
                }

                .btn-left, .btn-right {
                    position: absolute;
                    // top: -20px;
                }

                .ans_dropbtn {
                    background-color: #4CAF50;
                    position: absolute;
                    color: white;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }

                .ans_dropbtn:hover, .ans_dropbtn:focus {
                    background-color: #3e8e41;
                }

                .ans_dropdown {
                    position: absolute;
                    display: inline-block;
                    right: 0;
                }

                .ans_dropdown-content {
                    display: none;
                    position: relative;
                    margin-top: 35px;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                .ans_dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                .ans_show {display:block !important;}

                .ans_dropdown a:hover {background-color: #f1f1f1}

            }
            #author_content{
                position: relative;
                // border:1px solid grey;
                width: 98%;
                padding: 10px;
                // margin-bottom: 5px;
                margin-top: 10px;
                // margin-left: 30px;
                // border-radius: 3px;
                
                .display{
                    display: none !important;
                }

                #see_more{
                    position: absolute;
                    right: -3%;
                    bottom: 11%;
                    
                    z-index: 5;
                    // display: none;
                }

                #ans{
                    height:110px;
                    // height: auto;
                    overflow:hidden;
                    
                    img{
                        width:100% !important;
                        max-height:300px !important;
                        height:auto;
                    }
                    

                    p{
                        font-size: 1rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
            #author_interact{
                height:auto;
                border-top:1px solid grey;
                font-weight: normal;
                padding-top: 8px;
                font-family: Arial, Helvetica, sans-serif;
                display: flex;
                // justify-content: space-around;
                margin-top: 10px;
                // margin-bottom: 5px;

                a{
                    text-decoration: none;
                    // padding:3px;
                    height:30px;
                    border-radius: 3px;
                    // background-color:#5B5EA6 ;
                    // border:1px solid grey;
                    color:black;
                    margin-right: 30px;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;

                }

                i{
                color:rgb(10, 12, 80) ;
                
                margin-right: 7px;
                }
            }

        }
    }


    }
    #right_aside{
        width:30%;
        height:auto;
        padding-top: 40px;
        padding-left: 100px;
        // border:1px solid grey;

        h3{
            font-size: 1.2rem;
            border-bottom: 1px solid grey;
            padding-bottom: 7px;
        }
        a{
            display: block;
            margin-bottom: 10px;
            line-height: 1.15rem;
        }
    }
}


.display{
    display: none !important;
}