#home-container{
    min-height:200vh;
    height: auto;
    // position: relative;
    // background-color: cyan;
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    #left_aside{
        width:24%;
        min-height: 100vh;
        height: auto;
        position:sticky;
        top:70px;
        // border:3px solid black;

        .card{
            background-color:#373737;
            padding:8px;
            margin-top: 20px;
            box-sizing: border-box;
            height: 450px;
            border:1px solid white;
            border-radius:5px;

            a{
                text-decoration: none;
            }
        }

        .card-img-top{
            height:200px;
            width: 90%;
            margin: 5px 12px;
            border-radius: 3px;
            border:1px solid grey;
        }
        .card-title{
            text-align: center;
            font-size: 1.5rem;
            font-family: sans-serif;
            background-color: #5C5C5C;
            color: white;
            height: 40px;
            border-radius: 3px;
            padding-top: 7px;
            margin: -1px 12px;
            width: 90%;
        }
        .card-title:hover{
            background-color: white;
            color:black;
        }
        .card-text{
            // text-align: center;
            font-size: 1.2rem;
            font-family: sans-serif;
            background-color: transparent;
            color:white;
            height: 40px;
            border-radius: 3px;
            padding-top: 7px;
            margin: -1px 12px;
            width: 90%;
        }
    }
    #right_aside{
        width:24%;
        min-height: 100vh;
        height: auto;
        height:auto;
        // border:3px solid red;
        display: block;

        #aside{
            margin-top: 20px;
        }

        #our_blogs{
            box-sizing: border-box;
            color:white;
            height:auto;
            width:100%;
            border-radius: 3px;
            margin-bottom: 3px;

            ul{
                margin-left: -8px;
                border-bottom: 3px solid #373737;
                padding-bottom: 7px;
                width:86%;
                margin-left: 5px;
                div{
                    margin-left: -10px;
                    height:auto;
                    font-size: 1rem;
                    font-family: sans-serif;
                    margin-bottom: 5px;
                    
                    a{
                    text-decoration: none;
                    color:black;
                    line-height: 1.5rem;
                    font-weight: 700;
                    // text-transform: uppercase;
                    }

                    a:hover{
                        color:#5B5EA6;
                        text-decoration: underline;
                    }
                }
            }

            h2{
                // border:1px solid red;
                padding-top: 7px;
                background-color:#373737;
                text-align: center;
                border-radius: 3px;
                padding:7px;
                font-size: 1.6rem;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        
    }
    #center{
        width:50%;
        min-height: 100vh;
        height: auto;
        // border:3px solid green;
        box-sizing: border-box;

        #question{
            height:180px;
            box-sizing: border-box;
            // height: auto;
            border-radius: 3px;
            width: 98%;
            border:1px solid black;
            padding-top: 10px;
            padding-left: 20px;
            padding-bottom: 8px;
            margin-bottom: 15px;
            margin-top: 20px;
            

            h3{
                font-family: Arial, Helvetica, sans-serif;
                color:black;
                margin-left: 7px;
                font-size: 0.9rem;
            }
            textarea{
                margin-top: 6px;
                width: 100%;
                padding:8px;
                border:0;
                font-size: 1.18rem;
                height: auto;
                // background-color: #DD4124;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
                color: black;
                margin-top: -12px;
                outline: 0;
                resize: none;
            }

            ::placeholder { 
                color:grey;
            }

            #btn{
                select{
                    width:30%;
                    padding:7px;
                    outline: 0;
                    font-family: sans-serif;
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                button{
                    padding:8px;
                    font-family: sans-serif;
                    margin-left: 20px;
                    border-radius: 3px;
                    border:1px solid white;
                    background-color:#5B5EA6 ;
                    color: white;
                    cursor: pointer;
                }

            }
        }

        // --------------------------------------------------------------------------
        #answer_container{

            .display{
                display: none !important;
            }
            #comment_section{
                height:auto;
                width:95%;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                background-color:#39304f;
                border-radius: 3px;
                // border:1px solid grey;
                margin-bottom: 10px;
                
                .showLeft{
                    background-color: white !important;
                    // border:1px solid black !important;
                    text-shadow: none !important;
                    color:#fff !important;
                    padding-top: 5px;
                   
                }
            
                .icons li {
                    background: none repeat scroll 0 0 black;
                    height: 4px;
                    width: 4px;
                    line-height: 0;
                    list-style: none outside none;
                    margin-right: 15px;
                    margin-top: 2px;
                    vertical-align: top;
                    border-radius:50%;
                    pointer-events: none;
                }
            
                .btn-left {
                    left: 0.4em;
                }
            
                .btn-right {
                    right: 0;
                }
            
                .btn-left, .btn-right {
                    position: absolute;
                    top: -20px;
                }
            
                .c_dropbtn {
                    background-color: #4CAF50;
                    position: absolute;
                    color: white;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }
            
                .c_dropbtn:hover, .c_dropbtn:focus {
                    background-color: #3e8e41;
                }
            
                .c_dropdown {
                    position: absolute;
                    display: inline-block;
                    right: 0;
                }
            
                .c_dropdown-content {
                    display: none;
                    position: relative;
                    margin-top: 35px;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
            
                .c_dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            
                .c_dropdown a:hover {background-color: #f1f1f1}
            
                .c_show {display:block !important;}
            

                .comment_card{
                    height:80%;
                    // border:1px solid red;
                    display: flex;
                    border:1px solid black;
                    flex-direction: column;
                    padding:8px;
                    margin-bottom: -1px;
                    background-color: white;

                    #comment_header{
                        height:30%;
                        display: inline-flex;
                        margin-bottom: 8px;


                        img{
                            height:30px;
                            width:30px;
                            border-radius: 50%;
                            border:1px solid grey;
                            // padding:5px;
                        }
                        div{

                            margin-left: 15px;
                                h2{
                                    margin: 0;
                                    color: black;
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 0.9rem;
                                    margin-bottom: 5px;
                                }

                                h3{
                                    margin: 0;
                                    // color: black;
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 0.7rem;
                                }

                    }
                       
                    }
                
                    #comment_content{
                        height:50%;
                        border:1px solid grey;
                        padding: 5px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.1rem; 
                        margin-bottom: 5px;                       
                    }

                    #comment_interact{
                        height:25%;
                        // border:1px solid red;
                        padding: 3px;
                        position: relative;

                        a{
                            text-decoration: none;
                            margin-right: 8px;
                            color: black;

                            span{
                                margin-left: 5px;
                                margin-right: 5px;
                                font-size: small;
                            }
                        }

                    }

                }

                #comment_option{
                    height:20%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    // border:1px solid cyan;
                    padding: 10px;

                    img{
                        height:30px;
                        width: 30px;
                        // margin-left: 10px;
                        // margin-top: 10px;
                        border-radius: 50%;
                    }

                    input{
                        width: 60%;
                        height: 30px;
                        margin-top: 0px;
                        padding:5px;
                        border:0;
                        font-size: 1rem;
                        margin-left: 5px;
                        font-weight: 600;
                        font-family: Arial, Helvetica, sans-serif;
                        color: grey;
                        outline: 0;
                        resize: none;
                        border-radius:10px;
                    }

                    input:focus{
                        font-size: 1rem;
                        font-weight: normal;
                    }

                    a{
                        width: 20%;
                        font-weight: 100px;
                        cursor: pointer;

                        button{
                            padding: 7px;
                            width: 100px;
                            border-radius: 5px;
                            border: 0;
                            cursor: pointer;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
        }
    }

        #answers{
            border:1px solid black;
            margin-bottom: 5px;
            border-radius: 5px;
        }


        #answer_container{
            padding:8px;
            box-sizing: border-box;
            background-color:white;
            // background-color: #DD4124;
            border:1px solid black;
            width: 98%;
            height: auto;
            // overflow: auto;
            border-radius: 3px;
            margin-bottom: 10px;

            
            #question_asked{
                // background-color: white;
                // background-color: #DD4124;
                // border:1px solid black;
                padding:7px;
                height:100px;
                 box-sizing: border-box;
                border-radius: 3px;

                p{
                    color:black;
                    font-size: 0.9rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
                h1{
                    margin-top:-5px;
                    padding:0;
                    color: black;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }

        .topic_answered{
            position:relative;
            // min-height: 200px;
            height: auto;
            width: 98%;
            background-color: white;
            padding: 5px;
            // overflow: auto;
            // margin-top: 5px;
            border-radius: 3px;
            display: flex;
           
            // border:1px solid #39304f;

            
            

            #author_image{
                width:25%;
                // border:1px solid red;
                height: auto;
                padding-top: 70px;
                box-sizing: border-box;

                img{
                    height:190px;
                    width: 130px;
                    // border:1px solid grey;
                    border-radius: 3px;
                    margin-bottom: 20px;
                }

                a{
                    text-decoration: none;
                    // border:1px solid grey;
                    padding: 3px;
                }

                span{
                    margin-right: 7px;
                    margin-left: 8px;
                    font-size: 0.9rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                }
            }
            #topic_content{
                width:78%;
                height:auto;
                // border:1px solid red;
                display: flex;
                flex-direction: column;

                #author_header{
                    height:20%;
                    padding-bottom: 5px;
                    border-bottom:1px solid grey;
                    padding-top: 7px;

                    h3{
                        margin-top: 5px;
                        margin-left: 10px;
                    }
                    
                    span{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.1rem;
                        margin-left: 10px;
                        margin-right: 10px;
                        font-weight: 550;
                    }
                    b{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 0.8rem;
                    }

                    .showLeft{
                        background-color: white !important;
                        // border:1px solid black !important;
                        text-shadow: none !important;
                        color:#fff !important;
                        padding-top: 5px;
                       
                    }
    
                    .icons li {
                        background: none repeat scroll 0 0 black;
                        height: 4px;
                        width: 4px;
                        line-height: 0;
                        list-style: none outside none;
                        margin-right: 15px;
                        margin-top: 2px;
                        vertical-align: top;
                        border-radius:50%;
                        pointer-events: none;
                    }
    
                    .btn-left {
                        left: 0.4em;
                    }
    
                    .btn-right {
                        right: 0;
                    }
    
                    .btn-left, .btn-right {
                        position: absolute;
                        top: -20px;
                    }
    
                    .ans_dropbtn {
                        background-color: #4CAF50;
                        position: absolute;
                        color: white;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }
    
                    .ans_dropbtn:hover, .ans_dropbtn:focus {
                        background-color: #3e8e41;
                    }
    
                    .ans_dropdown {
                        position: absolute;
                        display: inline-block;
                        right: 0;
                    }
    
                    .ans_dropdown-content {
                        display: none;
                        position: relative;
                        margin-top: 35px;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        overflow: auto;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }
    
                    .ans_dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }
                    .ans_show {display:block !important;}
    
                    .ans_dropdown a:hover {background-color: #f1f1f1}
    
                }
                #author_content{
                    // border-bottom:1px solid grey;
                    width: 98%;
                    padding: 10px;
                    margin-bottom: 5px;
                    // border-radius: 3px;

                    p{
                        font-size: 1rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    #ans{
                        min-height:180px;
                        height: auto;
                    }
                }
                #author_interact{
                    height:30px;
                    // border:1px solid grey;
                    font-weight: normal;
                    padding: 3px;
                    font-family: Arial, Helvetica, sans-serif;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 5px;

                    a{
                        text-decoration: none;
                        padding: 3px;
                        border-radius: 3px;
                        background-color:#5B5EA6 ;
                        border:1px solid grey;
                        color: white;
                        cursor: pointer;

                    }

                    i{
                    // color:#5B5EA6 ;
                    
                    margin-right: 7px;
                    }
                }

            }
        }
    }
}