
#profile_container{
    margin-top:70px;
    height: auto;
    display: flex;
    flex-direction:row;
    color:#100c08;
    justify-content: space-around;
    .show{
        display:block !important;
        
    }

    .display{
        display: none;
    }

    #chat_box{
        height:350;
        width:300px;
        position: fixed;
        bottom: 0;
        right: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        // border:1px solid black;
        box-sizing: border-box;
        box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
        display:none;
        transition: 0.5s all;

            

        #message_content{
            position: absolute;
            bottom: 14%;
            // bottom: 50px;
            // border:1px solid black;
            width: 100%;
            height:240px;
            padding: 0;
            margin: 0; 
            display:flex !important;
            flex-direction: column-reverse;
            flex-wrap: wrap-reverse; 
            padding-bottom: 10px;      
            overflow: auto;   

            ul{
                list-style: none;
                font-size: 0.9rem;
                font-family: sans-serif;
                .self-message{
                    text-align: right;
                    margin-right: 5px;

                    span{
                        padding: 15px;
                        display: inline-block;
                        background-color: #F19B3B;
                        color: white;
                        border-bottom-left-radius: 12px;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        margin-bottom: 10px;
                        // box-shadow:
                        // 0 2px 2px rgba(0,0,0,0.2),        
                        // 0 1px 5px rgba(0,0,0,0.2),        
                        // 0 0 0 12px rgba(255,255,255,0.4); 

                    }
                }
                .other-message{
                    // text-align: left;
                    margin-left: -35px;
                    margin-bottom: 10px;
                    

                    span{
                        padding: 15px;
                        display: inline-block;
                        background-color: #EFEFEF;
                        border-bottom-right-radius: 12px;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        // box-shadow:
                        // 0 2px 2px rgba(0,0,0,0.2),        
                        // 0 1px 5px rgba(0,0,0,0.2),        
                        // 0 0 0 12px rgba(255,255,255,0.4); 

                    }
                    
                }
                
            }

        }

        #chat_header{
            background-color: #F19B3B;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height:50px;
            padding-top: 1px;
            box-sizing: border-box;

            #message_close{
                cursor: pointer;
            }
            

            h3{
                margin-left: 10px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;

                #margin{
                    margin-left: 100px;
                    margin-right: 15px;
                    font-size: 1.2rem;
                }
            }
        }

        #input_message{
            position: absolute;
            bottom: 0;
            height:60px;
            background-color: #373737;
            width: 100%;

            button{
                width:70px;
                padding: 7px;
                border: none;
                background-color: rgb(0, 102, 255) !important;
                color: white !important;
                outline: 0;
                cursor: pointer;
                border-radius: 5px;
            }

            input{
                padding:8px;
                margin-top: 12px;
                margin-left: 10px;
                width: 200px;
                background-color: #787878;
                color: white;
                border: none;
                border-radius: 5px;
            }
            input:focus{
                background-color: white;
                color: black;
                outline: 0;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color:white;
                opacity: 1; /* Firefox */
              }
        }
    }

    #profile_info{
        height:auto;
        width:25%;
        // border-right: 1px solid grey;
        // border:1px solid black;

        .display{
            display:none !important;
        }

        #profile_interests{
            .display{
                display:none !important;
                
            }
           
            
            
            #interest_list{
                height:auto;
                width:92%;
                border:1px solid grey;
                border-radius: 3px;
                margin-left: 30px;
                margin-bottom: 30px;

                a{
                    text-decoration: none;
                    background-color: #F7F9FA;
                    color: black;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 6px;
                    border:1px solid black;
                    margin-left: 5px;
                    margin-bottom: 15px;
                    margin-top:15px;
                    border-radius: 3px;
                    font-size: 0.9rem;
                    outline: none;

                }

               button{
                   margin-top:15px;
                   margin-left: 15px;
                   margin-bottom: 15px;
                   width:50px;
                   font-size: 0.9rem;
                   padding: 7px;
                   background-color: #30C553;
                   color: white;
                   border: none;
                   cursor: pointer;
                   border-radius: 3px;
                   outline: none;
               }


               #subject{
                    border-bottom:0.1px solid grey;
                    display: inline-flex;
                    width: 98%;
                    font-size: 1.2rem;
                    font-family: sans-serif;
                    padding:2px;
                    height: 40px;

                    input{
                        cursor: pointer;
                        margin-left: auto;
                        font-weight: 400;
                        color:rgb(0, 102, 255);
                        text-align: right;
                        margin-top: 5px;
                        font-size: 1.2rem;

                    }

                    p{
                        margin-left: 20px;
                        margin-top: 5px;
                    }

                    img{
                        height:35px;
                        border:1px solid grey;
                        width:35px;
                        border-radius:50%;
                        margin-left: 10px;
                    }
                }
                
            }

            #interests{
                // display: none;
                height:120px;
                width:92%;
                border:1px solid grey;
                border-radius: 3px;
                margin-left: 30px;
                margin-bottom: 30px;
                text-align: center;

                h3{
                    font-family: sans-serif;
                    font-size: 1.1rem;
                    color:#100c08;
                    font-weight: 100;
                }

                i{
                    margin-top: 20px;
                    font-size: 2.3rem;
                    font-weight: 400;
                    color:rgb(0, 102, 255);
                    cursor: pointer;
                }
            }

            .add_interest{
                border: none !important;
                height:auto !important;
                margin-bottom: 30px !important;
            #subject_topic{
                height:auto;
                width:99%;
                border:1px solid grey;
                border-radius: 0 !important;
                // margin-left: 30px;
                margin-bottom: 0 !important;
                position: relative;



               #subject{
                    border-bottom:none !important;
                    display: inline-flex;
                    width: 98%;
                    font-size: 1.2rem;
                    font-family: sans-serif;
                    padding:2px;
                    height: 40px;

                   

                   a{
                        font-size: 1rem;
                        font-family: sans-serif;
                       
                        
                    }

                    i{
                        //  margin-left: 160px;
                        font-size: 1.3rem;
                        margin-top: 8px;
                        color:red;
                        position: absolute;
                        right: 20px;
                    }

                    input{
                        cursor: pointer;
                        margin-left: auto;
                        font-weight: 400;
                        color:rgb(0, 102, 255);
                        text-align: right;
                        margin-top: 5px;
                        font-size: 1.2rem;

                    }

                    p{
                        margin-left: 20px;
                        margin-top: 5px;
                    }

                    img{
                        height:35px;
                        border:1px solid grey;
                        width:35px;
                        border-radius:50%;
                        margin-left: 10px;
                    }
                }
                
            }
        }

            #interest_heading{
                margin-top: 40px;
                margin-left: 30px;
                border-bottom:1px solid grey;
                margin-bottom: 15px;
                // display: inline-flex;

                .fas{
                    font-size: 1rem !important;
                    cursor: pointer;
                }
                span{
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-family: sans-serif;
                }
                #mark{
                    margin-left:120px;
                }
            }
        }

        #profile_credential{
            
            .c_blue{
                background-color: rgb(0, 102, 255) !important;
                color: white !important;
                font-weight: 550 !important;
        }
            min-height:100px;
            height:auto;
            // border:1px solid black;



        #edit_profile{
                    
                    .c_grey{
                        width:300px;
                        padding: 10px;
                        color:black;
                        background-color: grey;
                        font-size: medium;
                        border:none;
                        border-radius: 3px;
                        font-weight: 700;
                        margin-left:30px;
                        cursor: pointer;
            }

            p{
                font-size: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                color:#100c08;
                margin-left: 30px;
                margin-bottom: -5px;

                span{
                    margin-right: 12px;
                }
            }
        }

            #credential_input{
                padding-left: 30px;
                transition: 0.5 all;
                    textarea{
                        width:100%;
                        height:70px;
                        // margin-left: 20px;
                        font-size: 1rem;
                        outline: none;
                        margin-bottom: 10px;
                        box-shadow: 
                        inset 0 0 5px rgba(0,0,0,0.1),
                        inset 0 3px 2px rgba(0,0,0,0.1);
                    }
                    a{
                        text-decoration: none;
                        background-color: #F7F9FA;
                        color: black;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        padding: 6px;
                        border:1px solid black;
                        margin-left: 5px;
                        border-radius: 3px;
                        font-size: 0.9rem;
                        outline: none;

                    }

                   button{
                       width:50px;
                       font-size: 0.9rem;
                       padding: 7px;
                       background-color: #30C553;
                       color: white;
                       border: none;
                       cursor: pointer;
                       border-radius: 3px;
                       outline: none;
                   }

                    span{
                        margin-right: 15px;
                    }
                    input{
                        padding: 7px;
                        width: 82%;
                        font-size: 0.9rem;
                        margin-bottom: 8px;
                        border:0.5px solid grey;
                        box-shadow: 
                        inset 0 0 5px rgba(0,0,0,0.1),
                        inset 0 3px 2px rgba(0,0,0,0.1);
                        border-radius: 3px;
                        outline: none;
                    }
            }

        }

        #profile_header{
            min-height:400px;
            height: auto;
            width: 100%;
            // border:1px solid red;
            padding-top:20px;
            padding-left: 30px;
            box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            position: relative;

            #image{
                a{
                    text-decoration: none;
                    color: white;
                    padding: 5px;
                    width: 70px;
                    background-color: black;
                    border-radius: 3px;
                    position:absolute;
                    bottom:27.5%;
                    right: 0%;
                }
    
                img{
                    height:270px;
                    width:100%;
                    border-radius: 3px;
                    // border:1px solid cyan;
                }
    
            }

            #profile_name{
                // border:1px solid red;
                // padding-left: 20px;
                padding-top: 30px;
                padding-bottom: 20px;
                display: block;

                div{
                    margin-top: -20px;
                    width: 100%;
                    // border:1px solid red;
                    h1{
                        font-size: 1.7rem;
                        margin-top: 5px;
                        margin-bottom: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        // border:1px solid red;
                    }
                }

                span{
                    // margin-left: 20px;
                    // margin-right: 10px;

                    a{
                        text-decoration: none;
                        border:1px solid black;
                        border-radius: 3px;
                        padding:7px;
                        color:#100c08;
                        // background-color: cyan;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    #profile_space{
        height:100vh;
        width:75%;
        padding-right: 25px;
        padding-left: 10px;
        // border:1px solid black;
        .cur{
            cursor: pointer;
        }


        #following_card{
            display:flex;
           padding: 10px;
           position: relative;
           box-sizing: border-box;
            border-bottom: 1px solid grey;
            img{
                height:50px;
                width:50px;
                border-radius: 50%;
            }

            span{
                font-size: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 15px;
                margin-top: 15px;
            }

           
            button{
                color: white !important;
                border: none;
                padding: 8px;
                margin-top: 8px;
                font-weight: bold;
                border-radius: 3px;
                margin-left: 10px;
                width: 100px;
                position: absolute;
                right: 0;
                outline: 0;
            }

            .c_grey{
                background-color: grey !important;
            }
            .c_blue{
                background-color: rgb(0, 102, 255) !important;
            }
        }
        
        #profile_nav{
            margin-top: 10px;
            height:60px;
            border-bottom:1px solid grey;
            display: inline-flex;
            width: 100%;
            // justify-content: space-between;
            padding-top: 20px;
            box-sizing: border-box;
            
            #overview{
                border-bottom:2px solid orangered;
                font-weight: bold;
            }

            a{
                text-decoration:none;
                color:#100c08;
                font-size: 0.97rem;
                font-family:sans-serif;
                margin-right: 40px;

                span{
                    margin-left: 10px;
                    border-radius: 30%;
                    background-color: gray;
                    color: white;
                    padding: 3px;
                }
            }

            a:hover{
                transform: 0.5 all;
                border-bottom:2px solid grey;
                color: #110f0d;;
                width: auto;
            }

        }
    }
}
// -----------------------------------------------

#unanswered{
    height: 130px;
    width: 100%;
    border:1px solid grey;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    a{
        text-decoration: none;
    }
    

    #header{
        height: 25%;
        // border:1px solid red;
        padding: 10px;
        box-sizing: border-box;
        span{
            margin-right:25px;
            font-size: 1rem;
            color: grey;
            // font-family: Arial, Helvetica, sans-serif;
        }
    }

    #interact{
        height: 25%;
        // border:1px solid red;
        padding: 10px;
        padding-top: 0;
        box-sizing: border-box;

        a:hover{
            background-color: rgb(255, 255, 255);
            color: black;
            transition: 0.2s all;
        }

        .margin{
            margin-right: 20px;
            color:grey;
            border-radius: 20px;

            i{
                color:#5B5EA6;
            }
            
            span{
                margin-right: 5px;
            }
        }
    }

   

    #unanswered_content{
        padding: 10px;
        box-sizing: border-box;
        height: 50%;
        // border:1px solid red;
        padding-top: 5px;

        #content{
            font-size: 1.1rem;
            font-weight: 600;
            font-family:Verdana, Geneva, sans-serif;
            margin-bottom:5px;
            a{
                color: #100c08;
            }
        }

        #content_key{
            span{
                font-size:0.9rem;
                color: grey;
                margin-right:6px;

                b{
                    font-weight: 1000;
                }
            }
        }
    }
}
// --------------------------------------Answer-------------------------------------------------------

