main{
    margin-top: -14px;
    height: 110vh;
    width: 100%;
    background-image: url("/images/image.jpg");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border: 1px solid black; */
}
#signup_container
{   
    padding-top: 20px;
    height: 500px;
    margin-left: 7%;
    margin-top: 4%;
    position: absolute;
    width: 400px;
    background-color: #F5F5F5;
    border-radius: 10px;
    /*box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);*/
    /*background: linear-gradient(#eeefef, #ffffff 10%);*/
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 

}
#social_container img{
    height: 25px;
    width: 25px;
}

#signin h2{
    font-size: 1.9rem;
    color:#333333;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}
#signup h2{
    font-size: 1.9rem;
    color:#333333;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}
#signin h3{
    /*margin-top: -5px;*/
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    color: grey;
}
#signin label{
    font-size: 1.2rem;
    font-family: sans-serif;

}
hr.one{
    border-bottom: 1px solid lightgrey;
}
#form_input{
   /*padding-left: 25px;*/
   margin-top: 30px;
   box-sizing: border-box;

    /*border: 2px solid red;*/
}
#divider{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    /*display: inline-block;*/
    /*border:2px solid red;*/
}
#divider span{
    /*border:2px solid cyan;*/
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 50px;
    font-size: 1.1rem;
    font-family: sans-serif;
    background-color:  #F5F5F5;
}
#form_input hr{
   margin-top: 40px;
   
}
#form_input input{
    width: 90%;
    max-width: 390px;
    padding: 13px !important;
    margin: auto;
    /*text-shadow: 0 2px 1px rgba(0,0,0,0.3);*/
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
     box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
     background: rgba(0,0,0,0.15);

}
#signin .form-control{
     position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 18px;
}
#signup .form-control{
     position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 18px;
}
#signin .form-control:focus{
    z-index: 2;
}
#signup .form-control:focus{
    z-index: 2;
}


#signin input[type="password"]
{
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*border-radius: 5px;*/

}


#signup input[type="password"]
{
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*border-radius: 5px;*/

}
#signin input[type="Email"]
{
     border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
#signup input[type="Email"]
{
     border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
#signin input[type="submit"]
{
    padding: 10px!important;
    background-color: #EB7100;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
     background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.4), 
        0 2px 1px rgba(0,0,0,0.1);
}
#signup input[type="submit"]
{
    padding: 10px!important;
    background-color: #EB7100;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
     background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.4), 
        0 2px 1px rgba(0,0,0,0.1);
}

#social_container{
     /*border:2px solid red;*/
     width: 100%;
     display:inline-flex;
     /*margin-left: 20px;*/
     margin-top: 15px;
     margin-bottom: 30px;
     justify-content: center;
     transition: 1s;
}
#social_container a{
    text-decoration: none;

    }
/*#social_container a:link{
    text-decoration: none;
    color: grey;
}
    }
#social_container a:visited{
    text-decoration: none;
    color: grey;
}
    }
#social_container a:active{
    text-decoration: none;
    color: grey;
}
*/
#facebook{
    /*border:2px solid red;*/
    padding: 6px !important;
    height: 45px !important;
    margin-left: 10px;
    width: 185px;
    font-weight:400;
    margin-right: 20px;
    background-color:white;
   /*background-color:#3C589C;*/
   color:#333333 ;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   /*text-shadow: 0 2px 1px rgba(0,0,0,0.3);*/
       /*box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);*/

   /* box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);*/
    /*background: linear-gradient(#eeefef, #ffffff 10%);*/

}
#facebook:hover{
	box-shadow: 0px 0px 20px 2px grey;
	z-index:5;
}
#social_container span{
    margin-left: 10px;
    font-size: 1rem;
}
#google{
    /*border:2px solid red;*/
     border-top-left-radius: 0;
   border-bottom-left-radius: 0;
    font-weight:400;
    width: 185px;
    margin-left: -20px;
    padding: 5px !important;
    height: 45px !important;
    background-color: white;
    /*background-color: #DF4B3B;*/
    color: #333333;
    
}
#google:hover{
	box-shadow: 0px 0px 20px 2px grey;
}
.footer{
    font-size: 0.95rem;
    text-align: center;
    color: grey;
    margin-bottom: 5px;
}
.link_bottom{
    font-weight: 700;
}
/* #signup{ display: none; } */

