#answers {
  border-top: 1px solid black;
  margin-bottom: 5px; }

.display {
  display: none !important; }

#answer_container {
  padding: 8px;
  min-height: 0;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
  width: 99%;
  height: auto;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }
  #answer_container #comment_section {
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: #39304f;
    border-radius: 3px;
    margin-bottom: 10px; }
    #answer_container #comment_section .showLeft {
      background-color: white !important;
      text-shadow: none !important;
      color: #fff !important;
      padding-top: 5px; }
    #answer_container #comment_section .icons li {
      background: none repeat scroll 0 0 black;
      height: 4px;
      width: 4px;
      line-height: 0;
      list-style: none outside none;
      margin-right: 15px;
      margin-top: 2px;
      vertical-align: top;
      border-radius: 50%;
      pointer-events: none; }
    #answer_container #comment_section .btn-left {
      left: 0.4em; }
    #answer_container #comment_section .btn-right {
      right: 0; }
    #answer_container #comment_section .btn-left, #answer_container #comment_section .btn-right {
      position: absolute;
      top: -20px; }
    #answer_container #comment_section .c_dropbtn {
      background-color: #4CAF50;
      position: absolute;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer; }
    #answer_container #comment_section .c_dropbtn:hover, #answer_container #comment_section .c_dropbtn:focus {
      background-color: #3e8e41; }
    #answer_container #comment_section .c_dropdown {
      position: absolute;
      display: inline-block;
      right: 0; }
    #answer_container #comment_section .c_dropdown-content {
      display: none;
      position: relative;
      margin-top: 35px;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
    #answer_container #comment_section .c_dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    #answer_container #comment_section .c_dropdown a:hover {
      background-color: #f1f1f1; }
    #answer_container #comment_section .c_show {
      display: block !important; }
    #answer_container #comment_section .comment_card {
      height: 80%;
      display: flex;
      border: 1px solid grey;
      flex-direction: column;
      padding: 8px;
      margin-bottom: -1px;
      background-color: white; }
      #answer_container #comment_section .comment_card #comment_header {
        height: 30%;
        display: inline-flex;
        margin-bottom: 8px; }
        #answer_container #comment_section .comment_card #comment_header img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 1px solid grey; }
        #answer_container #comment_section .comment_card #comment_header div {
          margin-left: 15px; }
          #answer_container #comment_section .comment_card #comment_header div h2 {
            margin: 0;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9rem;
            margin-bottom: 5px;
            font-weight: bold; }
          #answer_container #comment_section .comment_card #comment_header div h3 {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.7rem; }
      #answer_container #comment_section .comment_card #comment_content {
        height: 50%;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        margin-bottom: 5px; }
      #answer_container #comment_section .comment_card #comment_interact {
        height: 25%;
        border-top: 1px solid grey;
        padding: 3px;
        position: relative; }
        #answer_container #comment_section .comment_card #comment_interact a {
          text-decoration: none;
          margin-right: 8px;
          color: black; }
          #answer_container #comment_section .comment_card #comment_interact a span {
            margin-left: 5px;
            margin-right: 5px;
            font-size: small; }
    #answer_container #comment_section #comment_option {
      height: 17%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 10px; }
      #answer_container #comment_section #comment_option img {
        height: 30px;
        width: 30px;
        border-radius: 50%; }
      #answer_container #comment_section #comment_option input {
        width: 60%;
        height: 30px;
        margin-top: 0px;
        padding: 5px;
        border: 0;
        font-size: 1rem;
        margin-left: 5px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
        outline: 0;
        resize: none;
        border-radius: 10px; }
      #answer_container #comment_section #comment_option input:focus {
        font-size: 1rem;
        font-weight: normal; }
      #answer_container #comment_section #comment_option a {
        width: 20%;
        font-weight: 100px;
        cursor: pointer; }
        #answer_container #comment_section #comment_option a button {
          padding: 7px;
          min-width: 100px;
          width: auto;
          border-radius: 5px;
          border: 0;
          cursor: pointer;
          font-family: Arial, Helvetica, sans-serif; }
  #answer_container #question_asked {
    padding: 7px;
    min-height: 80px;
    height: auto;
    box-sizing: border-box;
    border-radius: 3px; }
    #answer_container #question_asked p {
      color: black;
      font-size: 0.9rem;
      font-family: Arial, Helvetica, sans-serif; }
    #answer_container #question_asked h1 {
      margin-top: -5px;
      padding: 0;
      color: black;
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif; }

.topic_answered {
  position: relative;
  height: auto;
  width: 98%;
  background-color: white;
  padding: 5px;
  overflow: auto;
  border-radius: 3px;
  display: flex; }
  .topic_answered #topic_content {
    width: 98%;
    display: flex;
    flex-direction: column; }
    .topic_answered #topic_content #author_header {
      height: 10%;
      padding-bottom: 5px;
      padding-top: 7px;
      margin-bottom: 20px; }
      .topic_answered #topic_content #author_header h3 {
        font-size: 0.7rem;
        margin-top: 0px;
        margin-left: 3px;
        margin-bottom: 10px; }
      .topic_answered #topic_content #author_header span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 550; }
      .topic_answered #topic_content #author_header b {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem; }
      .topic_answered #topic_content #author_header .showLeft {
        background-color: white !important;
        text-shadow: none !important;
        color: #fff !important;
        padding-top: 5px; }
      .topic_answered #topic_content #author_header .icons li {
        background: none repeat scroll 0 0 black;
        height: 4px;
        width: 4px;
        line-height: 0;
        list-style: none outside none;
        margin-right: 15px;
        margin-top: 2px;
        vertical-align: top;
        border-radius: 50%;
        pointer-events: none; }
      .topic_answered #topic_content #author_header .btn-left {
        left: 0.4em; }
      .topic_answered #topic_content #author_header .btn-right {
        right: 0; }
      .topic_answered #topic_content #author_header .btn-left, .topic_answered #topic_content #author_header .btn-right {
        position: absolute;
        top: -20px; }
      .topic_answered #topic_content #author_header .dropbtn {
        background-color: #4CAF50;
        position: absolute;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer; }
      .topic_answered #topic_content #author_header .dropbtn:hover, .topic_answered #topic_content #author_header .dropbtn:focus {
        background-color: #3e8e41; }
      .topic_answered #topic_content #author_header .dropdown {
        position: absolute;
        display: inline-block;
        right: 0; }
      .topic_answered #topic_content #author_header .dropdown-content {
        display: none;
        position: relative;
        margin-top: 35px;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; }
      .topic_answered #topic_content #author_header .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
      .topic_answered #topic_content #author_header .show {
        display: block; }
      .topic_answered #topic_content #author_header .dropdown a:hover {
        background-color: #f1f1f1; }
    .topic_answered #topic_content #author_content {
      height: auto;
      width: 100%;
      border-bottom: 1px solid black;
      padding: 10px;
      margin-bottom: 15px; }
      .topic_answered #topic_content #author_content p {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif; }
      .topic_answered #topic_content #author_content #see_more {
        position: absolute;
        right: 0%;
        bottom: 11%;
        z-index: 5; }
      .topic_answered #topic_content #author_content #ans {
        height: 110px;
        overflow: hidden; }
    .topic_answered #topic_content #author_interact {
      height: 30px;
      font-weight: normal;
      padding: 3px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex; }
      .topic_answered #topic_content #author_interact a {
        text-decoration: none;
        border-radius: 3px;
        color: black;
        margin-right: 30px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer; }
      .topic_answered #topic_content #author_interact i {
        color: #0a0c50;
        margin-right: 7px; }
