header #logout_header {
  height: 70px;
  display: inline-block;
  width: 100%;
  background-color: #373737; }
  header #logout_header img {
    height: 40px;
    width: 40px;
    margin: 16px 40px 0px 50px;
    border-radius: 50%; }
  header #logout_header a:hover {
    text-decoration: none; }
  header #logout_header p {
    display: inline;
    position: relative;
    bottom: -8px;
    color: white;
    margin-right: 35px;
    letter-spacing: 0.0009rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  header #logout_header #search {
    margin-top: 20px;
    height: 35px;
    width: 250px;
    position: absolute;
    right: 18%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    border-radius: 5px;
    background-color: #787878;
    color: white; }
  header #logout_header #search:focus {
    background-color: white;
    color: black;
    outline: 0; }
  header #logout_header ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #373737;
    opacity: 1;
    /* Firefox */ }
  header #logout_header #_signup {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    position: absolute;
    margin-top: 20px;
    right: 4%;
    border: 1px solid white;
    padding: 3px;
    border-radius: 3px; }
  header #logout_header #_signin {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    position: absolute;
    margin-top: 20px;
    right: 11%; }

header #login_header {
  position: sticky;
  height: 70px;
  display: inline-block;
  width: 100%;
  background-color: #5B5EA6; }
  header #login_header img {
    height: 40px;
    width: 40px;
    margin: 10px 40px 0px 50px;
    border-radius: 50%; }
  header #login_header #search {
    margin-top: 20px;
    height: 35px;
    width: 400px;
    position: absolute;
    left: 10%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    border-radius: 7px;
    background-color: #8b8dc1;
    color: white; }
  header #login_header #search:focus {
    background-color: white;
    color: black;
    outline: 0; }
  header #login_header ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: medium;
    opacity: 1;
    /* Firefox */ }
  header #login_header ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0.5%;
    left: 50%; }
    header #login_header ul li {
      font-size: 1.1rem;
      padding: 6px 8px;
      margin-right: 30px; }
    header #login_header ul li:hover {
      background-color: #92A8D1;
      transition: 0.1s ease-in-out; }
    header #login_header ul a {
      text-decoration: none;
      color: white; }
    header #login_header ul img {
      height: 50px;
      width: 50px;
      margin: -20px; }
