#profile_container {
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #100c08;
  justify-content: space-around; }
  #profile_container .display {
    display: none; }
  #profile_container #profile_info {
    height: 100vh;
    width: 25%; }
    #profile_container #profile_info #profile_credential {
      min-height: 100px;
      height: auto; }
      #profile_container #profile_info #profile_credential button {
        width: 270px;
        padding: 10px;
        color: black;
        background-color: grey;
        font-size: medium;
        border: none;
        border-radius: 3px;
        font-weight: 700;
        margin-left: 30px;
        cursor: pointer; }
      #profile_container #profile_info #profile_credential #credential_input {
        padding-left: 30px;
        transition: 0.5 all; }
        #profile_container #profile_info #profile_credential #credential_input textarea {
          width: 90%;
          height: 70px;
          font-size: 1rem;
          outline: none;
          margin-bottom: 10px;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1); }
        #profile_container #profile_info #profile_credential #credential_input a {
          text-decoration: none;
          background-color: #F7F9FA;
          color: black;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          padding: 6px;
          border: 1px solid black;
          margin-left: 5px;
          border-radius: 3px;
          font-size: 0.9rem;
          outline: none; }
        #profile_container #profile_info #profile_credential #credential_input button {
          width: 50px;
          font-size: 0.9rem;
          padding: 7px;
          background-color: #30C553;
          color: white;
          border-radius: 3px;
          outline: none; }
        #profile_container #profile_info #profile_credential #credential_input span {
          margin-right: 15px; }
        #profile_container #profile_info #profile_credential #credential_input input {
          padding: 7px;
          width: 80%;
          font-size: 0.9rem;
          margin-bottom: 8px;
          border: 0.5px solid grey;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          outline: none; }
    #profile_container #profile_info #profile_header {
      height: 400px;
      width: 100%;
      padding-top: 20px;
      padding-left: 30px;
      box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      position: relative; }
      #profile_container #profile_info #profile_header #image a {
        text-decoration: none;
        color: white;
        padding: 5px;
        width: 70px;
        background-color: black;
        border-radius: 3px;
        position: absolute;
        bottom: 27.5%;
        right: 9%; }
      #profile_container #profile_info #profile_header #image img {
        height: 270px;
        width: 90%;
        border-radius: 3px; }
      #profile_container #profile_info #profile_header #profile_name {
        padding-top: 30px;
        display: block; }
        #profile_container #profile_info #profile_header #profile_name div {
          margin-top: -20px;
          width: 100%; }
          #profile_container #profile_info #profile_header #profile_name div h1 {
            font-size: 1.7rem;
            margin-top: 5px;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif; }
        #profile_container #profile_info #profile_header #profile_name span {
          margin-left: 20px;
          margin-right: 10px; }
          #profile_container #profile_info #profile_header #profile_name span a {
            text-decoration: none;
            border: 1px solid black;
            border-radius: 3px;
            padding: 7px;
            color: #100c08;
            padding-right: 10px;
            padding-left: 10px; }
  #profile_container #profile_space {
    height: 100vh;
    width: 75%;
    padding-right: 25px; }
    #profile_container #profile_space #profile_nav {
      margin-top: 10px;
      height: 60px;
      border-bottom: 1px solid grey;
      display: inline-flex;
      width: 100%;
      padding-top: 20px;
      box-sizing: border-box; }
      #profile_container #profile_space #profile_nav #overview {
        border-bottom: 2px solid orangered;
        font-weight: bold; }
      #profile_container #profile_space #profile_nav a {
        text-decoration: none;
        color: #100c08;
        font-size: 0.97rem;
        font-family: sans-serif;
        margin-right: 40px; }
      #profile_container #profile_space #profile_nav a:hover {
        transform: 0.5 all;
        border-bottom: 2px solid grey;
        color: #110f0d;
        width: auto; }
